<nav class=" navbar navbar-expand-lg navbar-light  py-3 d-block" data-navbar-on-scroll="data-navbar-on-scroll">
    <div class="container"><a class="navbar-brand" href="index.html"><img src="assets/img/gallery/hero.png" height="88" alt="logo" /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"> </span></button>
      <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto pt-2 pt-lg-0 font-base hover">
          <li class="nav-item px-2"><a class="nav-link" aria-current="page" href="index.html">Home</a></li>
          <li class="nav-item px-2"><a class="nav-link" href="#services">Forum</a></li>
          <li class="nav-item px-2"><a class="nav-link" href="#services">Forum</a></li>
          <li class="nav-item px-2"><a class="nav-link" href="#findUs">Event</a></li>
          <li class="nav-item px-2"><a class="nav-link" href="#findUs">Donation</a></li>
          <li class="nav-item px-2"><a class="nav-link" href="#findUs">Training</a></li>
          <li class="nav-item px-2"><a class="nav-link" href="#findUs">Find Job</a></li>

        </ul>
       <a class="btn btn-primary order-1 order-lg-0 ms-lg-3" [routerLink]="['/login']">Login</a>
        <a class="btn btn-primary order-1 order-lg-0 ms-lg-3" href="#!">Signup</a>
      </div>
    </div>
  </nav>