<div class="container fixedplace d-flex justify-content-center">
    <div class="card p-3 py-4">
        <div class="text-center"> 
		<img src="https://i.imgur.com/stD0Q19.jpg" width="100" class="rounded-circle">
            <h3 class="mt-2">{{user.firstName}} {{user.lastName}}</h3>
			<span class="mt-1 clearfix">{{user.email}}</span>
			
			<div class="row mt-3 mb-3">
			
			  <div class="col-md-4">
				<h5>Projects</h5>
				<span class="num">10</span>
			  </div>
			  <div class="col-md-4">
			  <h5>Projects</h5>
				<span class="num">10</span>
			  </div>
			  <div class="col-md-4">
			  <h5>Projects</h5>
				<span class="num">10</span>
			  </div>
			
			</div>
			
			<hr class="line">
			
			<small class="mt-4">I am an android developer working at google Inc at california,USA</small>
              <div class="social-buttons mt-5"> 
			   <button class="neo-button"><i class="fa fa-facebook fa-1x"></i> </button> 
			   <button class="neo-button"><i class="fa fa-linkedin fa-1x"></i></button> 
			   <button class="neo-button"><i class="fa fa-google fa-1x"></i> </button> 
			   <button class="neo-button"><i class="fa fa-youtube fa-1x"></i> </button>
			   <button class="neo-button"><i class="fa fa-twitter fa-1x"></i> </button>
			  </div>
			  
			 <div class="profile mt-5">
                <button class="profile_button px-5">Meeting</button>
<!-- 
                <section>  <button class="profile_button px-5"  (click)="open(mymodal1)">Add Claim</button>


                    <ng-template #mymodal1 let-modal1 [hidden]="form">
                   
                            <form  class="center" [formGroup]="myForm" (submit)="add()">
                                <div class="row" class="col-md-6">
                                    <input type="text" placeholder="Description ..." formControlName="title" required>
                                </div>
                            
                                <div class="row" class="col-md-6">
                                    <input type="text" placeholder="Title" formControlName="text"required >
                                </div>
                              
                                <br>
                                <button type="submit" class="btn btn-success" >Add</button>
                                <button type="button" (click)="cancel()" class="btn btn-info" >Cancel</button>
                            </form>
                    </ng-template>
                </section> -->
                                 <!-- <button class="profile_button px-5">View profile</button> -->


		</div>
			   
        </div>
    </div>
</div>